body{
	background: #d7ffdf;
	font: 16px Arial, Helvetica, sans-serif;
}

a {
	color: #5B5B5B;
	text-decoration: none;
	font-weight: bolder;
	padding: 6px;
}

#header {
	width: 900px;
}

#menu {
	background: #c0ffcd;
	padding: 18px;
}

#conteudo {
	background: #daf7ed;
	padding: 10px;
}